[Unit]
Description=starter-home local backup

[Service]
Type=oneshot
EnvironmentFile=%h/backup/local_backup.env
ExecStart=/usr/bin/python3 %h/backup/backup.py %h/local_volumes
