[Unit]
Description=Jellyfin media server

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
Network=web.network
Volume=jellyfin-config.volume:/config
Volume=jellyfin-cache.volume:/cache
Volume=/host-storage/media:/media:ro

[Service]
ExecStartPre=mkdir -p /host-storage/media
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
